<h1>Editar País: <%= country.name.official %></h1>

<form action="/countries/edit/<%= country._id %>" method="POST">
    <!-- Nombre -->
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" value="<%= country.name.official %>" required>

    <!-- Capital (convertirla a un arreglo con coma y luego separar en la vista) -->
    <label for="capital">Capital (separada por coma):</label>
    <input type="text" id="capital" name="capital" value="<%= country.capital.join(', ') %>" required>

    <!-- Fronteras (convertirla a un arreglo con coma y luego separar en la vista) -->
    <label for="borders">Fronteras (separadas por coma):</label>
    <input type="text" id="borders" name="borders" value="<%= country.borders.join(', ') %>" required>

    <!-- Área -->
    <label for="area">Área:</label>
    <input type="number" id="area" name="area" value="<%= country.area %>" required>

    <!-- Población -->
    <label for="population">Población:</label>
    <input type="number" id="population" name="population" value="<%= country.population %>" required>

    <!-- Índice Gini -->
    <label for="gini">Índice Gini:</label>
    <input type="number" id="gini" name="gini" value="<%= country.gini %>" required min="0" max="100">


    <!-- Zonas Horarias -->
    <label for="timezones">Zonas Horarias (separadas por coma):</label>
    <input type="text" id="timezones" name="timezones" value="<%= country.timezones.join(', ') %>" required>

    <!-- Creador -->
    <label for="creator">Creador:</label>
    <input type="text" id="creator" name="creator" value="<%= country.creador %>">

    <button type="submit">Guardar Cambios</button>

    <a href="/dashboard" class="back-button">Volver Atrás</a>
</form>
